In [2]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [3]:
cast = pd.read_csv("cast.csv")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
release_dates = pd.read_csv("release_dates.csv")
release_dates.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

### How many movies are listed in the titles dataframe?

In [5]:
index=titles.index

In [10]:
num_movies=len(index)
print("The total number of movies = " + str(num_movies))

The total number of movies = 244914

### What are the earliest two films listed in the titles dataframe?

In [9]:
titles1=pd.read_csv("titles.csv")
titles1.sort_values(by=['year'],inplace=True)
titles1.head()

                                                    title  year
193222                                         Miss Jerry  1894
51388                                  The Startled Lover  1898
4584       Reproduction of the Corbett and Jeffries Fight  1899
219198                                     May Day Parade  1900
47548   Pierrot's Problem, or How to Make a Fat Wife O...  1900

In [15]:
print("The earlist two films listed in titles dataframe are " + str(1894) + " and " + str(1898) + " .")

The earlist two films listed in titles dataframe are 1894 and 1898 .

### How many movies have the title "Hamlet"?

In [16]:
df=titles[titles['title']=='Hamlet']
index=df.index

In [17]:
num_hamlet=len(index)
print("The number of movies titled Hamlet are " + str(num_hamlet))

The number of movies titled Hamlet are 20

### How many movies are titled "North by Northwest"?

In [21]:
df1=titles[titles['title']=='North by Northwest']
index=df1.index

In [20]:
num_North_by_Northwest=len(index)
print("The number of movies titled North by Northwest are " + str(num_North_by_Northwest))

The number of movies titled North by Northwest are 1

### When was the first movie titled "Hamlet" made?

In [25]:
df2=titles[titles['title']=='Hamlet']
min_value=df2.min()
print("The first movie titled 'Hamlet' was " +  str(min_value))

The first movie titled 'Hamlet' was title    Hamlet
year       1910
dtype: object

### List all of the "Treasure Island" movies from earliest to most recent.

In [27]:
df3=titles[titles['title']=='Treasure Island']
df3.sort_values(by=['year'],inplace=True)
df3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [30]:
movies=len(titles[titles['year']==1950])
print("The number of movies made in year 1950 = " + str(movies))

The number of movies made in year 1950 = 1113

### How many movies were made in the year 1960?

In [31]:
movies2=len(titles[titles['year']==1960])
print("The number of movies made in year 1950 = " + str(movies2))

The number of movies made in year 1950 = 1549

### How many movies were made from 1950 through 1959?

In [7]:
movies3=len(titles[(titles['year']>=1950) & (titles['year']<=1959)])
print("The number of movies made from year 1950 to 1959 are  " + str(movies3))

The number of movies made from year 1950 to 1959 are  12934

### In what years has a movie titled "Batman" been released?

In [5]:
movies4=titles[titles['title']=='Batman']
movies4

         title  year
39349   Batman  1943
240896  Batman  1989

In [4]:
print("'Batman' was released in the years " + str(1943) + " and " + str(1989))

'Batman' was released in the years 1943 and 1989

### How many roles were there in the movie "Inception"?

In [8]:
num_roles=len(cast[cast['title']=='Inception'])

In [10]:
print("The number of roles in the movie 'Inception' are " + str(num_roles))

The number of roles in the movie 'Inception' are 78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [11]:
roles=cast[cast['title']=='Inception']

In [12]:
roles.isna()

         title   year   name   type  character      n
98153    False  False  False  False      False   True
149008   False  False  False  False      False  False
183937   False  False  False  False      False  False
197877   False  False  False  False      False   True
260128   False  False  False  False      False  False
...        ...    ...    ...    ...        ...    ...
3387147  False  False  False  False      False  False
3444628  False  False  False  False      False  False
3473041  False  False  False  False      False  False
3480170  False  False  False  False      False  False
3731263  False  False  False  False      False  False

[78 rows x 6 columns]

In [14]:
roles['n']=roles['n'].fillna(0)
not_ranked=len(roles[roles['n']==0])
print(" The number of roles in the movie 'Inception' , NOT ranked by an 'n' value are " + str(not_ranked) + " .")

 The number of roles in the movie 'Inception' , NOT ranked by an 'n' value are 27 .

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### But how many roles in the movie "Inception" did receive an "n" value?

In [16]:
ranked=len(roles[roles['n']!=0])

In [17]:
print(" The number of roles in the movie 'Inception' ,  ranked are " + str(ranked) + " .")

 The number of roles in the movie 'Inception' ,  ranked are 51 .

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [18]:
roles1=cast[cast["title"]=="North by Northwest"]
roles1.sort_values(by=['n'],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
roles1['n']=roles1['n'].fillna(0)
roles2=roles1[roles1['n']!=0]
roles2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [24]:
df4=cast[(cast['title']=='Sleuth') & (cast['year']==1972)]
df4.sort_values(by=['n'],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
df4

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [28]:
df5=cast[(cast['title']=='Sleuth') & (cast['year']==2007)]
df5.sort_values(by=['n'],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
df5

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [5]:
num_roles_the_silent=len(cast[(cast['title']=='Hamlet') & (cast['year']==1921)])

In [29]:
print("The number of roles credited in the silent 1921 version of Hamlet are " +str(num_roles_the_silent) +".")

The number of roles credited in the silent 1921 version of Hamlet are 9.

### How many roles were credited in Branagh’s 1996 Hamlet?

In [8]:
num_roles_barnagh=len(cast[(cast['title']=='Hamlet') & (cast['year']==1996)])

In [28]:
print("The number of roles credited in Barnagh's 1996 version of Hamlet are " +str(num_roles_barnagh) +".")

The number of roles credited in Barnagh's 1996 version of Hamlet are 54.

### How many "Hamlet" roles have been listed in all film credits through history?

In [10]:
num_roles_total=len(cast[cast['title']=='Hamlet'])

In [27]:
print("The number of roles listed in all films of Hamlet are " +str(num_roles_total) +".")

The number of roles listed in all films of Hamlet are 342.

### How many people have played an "Ophelia"?

In [15]:
num_ophelia=len(cast[cast['character']=="Ophelia"])

In [25]:
print("The number of people who have played an 'Ophelia'are "+str(num_ophelia)+".")

The number of people who have played an 'Ophelia'are 117.

### How many people have played a role called "The Dude"?

In [17]:
num_the_dude=len(cast[cast['character']=="The Dude"])

In [24]:
print("The number of people who have played an 'The Dude' are "+str(num_the_dude)+".")

The number of people who have played an 'The Dude' are 19.

### How many people have played a role called "The Stranger"?

In [34]:
num_the_stranger=len(cast[cast['character']=="The Stranger"])

In [35]:
print("The number of people who have played an 'The Stranger' are "+str(num_the_stranger)+".")

The number of people who have played an 'The Stranger' are 212.

### How many roles has Sidney Poitier played throughout his career?

In [38]:
num_role=len(cast[cast['name']=="Sidney Poitier"])

In [33]:
print("The number of ries played by Sydney Poitier are "+str(num_role)+".")

The number of ries played by Sydney Poitier are 43.

### How many roles has Judi Dench played?

In [37]:
num_role1=len(cast[cast['name']=="Judi Dench"])

In [39]:
print("The number of ries played by Judi Dench are "+str(num_role1)+".")

The number of ries played by Judi Dench are 55.

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [7]:
df6=cast[(cast['name']=='Cary Grant') & ((cast['year']>=1940) & (cast['year']<=1949)) & (cast['n']==2)]

In [8]:
df6

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [10]:
df7=cast[(cast['name']=='Cary Grant') & ((cast['year']>=1940) & (cast['year']<=1949))]

In [11]:
df7

,title,year,name,type,character,n
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN

### How many roles were available for actors in the 1950s?

In [16]:
num_rol=len(cast[(cast['year']>=1950) & (cast['year']<=1959) & (cast['type']=='actor')])

In [18]:
print("Roles available for actors in the 1950s were "+str(num_rol) + '.')

Roles available for actors in the 1950s were 157738.

### How many roles were available for actresses in the 1950s?

In [19]:
num_rol1=len(cast[(cast['year']>=1950) & (cast['year']<=1959) & (cast['type']=='actress')])

In [22]:
print("Roles available for actresses in the 1950s were "+str(num_rol1) + '.')

Roles available for actresses in the 1950s were 57733.

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [21]:
num_rol3=len(cast[(cast['year']>=1980) & (cast['n']==1)])

In [23]:
print('Leading roles available from the beginning of film history through 1980 were '+ str(num_rol3) + '.')

Leading roles available from the beginning of film history through 1980 were 89276.

### How many non-leading roles were available through from the beginning of film history through 1980?

In [24]:
num_rol4=len(cast[(cast['year']>=1980) & (cast['n']!=1)])

In [26]:
print('Non-leading roles available from the beginning of film history through 1980 were '+ str(num_rol4) + '.')

Non-leading roles available from the beginning of film history through 1980 were 2537565.

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [28]:
r_oles=cast[cast['year']>=1980]
r_oles['n']=r_oles['n'].fillna(0)
numroles=len(r_oles[r_oles['n']==0])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
print('Roles through 1980 which were minor enough that they did not warrant a numeric "n" rank were ' + str(numroles)+'.')

Roles through 1980 which were minor enough that they did not warrant a numeric "n" rank were 1014692.